<a href="https://colab.research.google.com/github/21JN1A4551/Google-Colab/blob/main/Accenture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

POSITIVE OR NEGATIVE

In [ ]:
n=10;
if(n>0):
    print("positive")
else:
    print("negative")

positive

In [ ]:
n=int(input("Enter a number"))
if(n>0):
  print("positive")
elif(n<0):
  print("negative")
else:
  print("zero")

Enter a number23
positive

In [ ]:
n=int(input("Enter a number"));
if(n>0):
  print("positive")
elif(n<0):
  print("negative")
else:
  print("zero")

Enter a number0
zero

EVEN OR ODD

In [ ]:
n=10;
if(n%2==0):
  print("even")
else:
  print("odd")

even

In [ ]:
n=int(input());
if(n%2==0):
  print("even")
else:
  print("odd")

56
even

NATURAL NUMBERS

In [ ]:
num=0;
sum=2;
for i in range(num,n+1):
  sum=sum+i;
  print(sum)

2
3
5
8
12
17
23
30
38
47
57
68
80
93
107
122
138
155
173
192
212
233
255
278
302
327
353
380
408
437
467
498
530
563
597
632
668
705
743
782
822
863
905
948
992
1037
1083
1130
1178
1227
1277
1328
1380
1433
1487
1542
1598

In [ ]:
num=int(input());
sum=0;
for i in range(num,num+1):
  sum=i+1;
  print(sum)

10
11

NUMBERS IN A GIVEN RANGE

In [ ]:
num1,num2=10,15;
sum=0;
for i in range(num1,num2+1):
  sum=sum+i;
  print(sum)

10
21
33
46
60
75

GREATEST OF GIVEN NUMBERS

In [ ]:
num1=10;
num2=20;
if(num1>num2):
  print(num1)
else:
  print(num2)

20

GIVEN NUMBER IS HAPPY OR NOT

In [ ]:
#include <stdio.h>

int sumOfSquares(int(n)) {
    int sum = 0;
    while (n > 0) {
        int digit = n % 10;
        sum += digit * digit;
        n /= 10;
    }
    return sum;
}

int isHappyNumber(int(n)) {
    int slow = n, fast = n;
    do {
        slow = sumOfSquares(slow);             // move slow by 1 step
        fast = sumOfSquares(sumOfSquares(fast)); // move fast by 2 steps
    } while (slow != fast);

    return (slow == 1);
}

int main() {
    int num;
    printf("Enter a number: ");
    scanf("%d", &num);

    if (isHappyNumber(num)) {
        printf("%d is a happy number.\n", num);
    } else {
        printf("%d is not a happy number.\n", num);
    }

    return 0;
}

SyntaxError: invalid syntax (<ipython-input-17-58253bdb407b>, line 3)

In [ ]:
def OperationsBinaryString(str):
  ans= ord(str[0])-ord('0')
  for i in range(1,len(str),2):
    j=i+1;
    if(str[i]=='A'):
      ans = ans & (ord(str[j])-ord('0'))
    elif(str[i]=='B'):
      ans = ans | (ord(str[j])-ord('0'))
    elif(str[i]=='c'):
      ans = ans ^ (ord(str[j])-ord('0'))
    return ans

ASCII VALUES FOR WORD AVERAGE

In [ ]:
def Average(s):
  n = len(s)
  sum = 0
  for i in s:
    sum = sum + ord(i)
  avg = sum / n
  return avg


s = input()
temp = Average(s)
rounded_number = format(temp, ".2f")
print(rounded_number)

a
97.00

PALINDROME

In [ ]:
num = 1221
temp = num
reverse = 0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10) + remainder
    temp = temp // 10
if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Palindrome

NOT A PALINDROME

In [ ]:
num = 1220
temp = num
reverse = 0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10) + remainder
    temp = temp // 10
if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Not Palindrome

MAXIMUM PRODUCT

In [ ]:
R1 = 16
R2 = 12
L1 = 1
L2 = 10
a = 8
b = 13
if(L1<=a<=R1):
    print(L1*R2)
elif(R2<=b<=L2):
    print(R2*L2)
else:
    print(R1*L2)

In [ ]:
def max(a,b):
  return a if a > b else b
  L1, L2, R1,R2 = map(int,input().split())
  max_product = 1,2,3,4
  max(L1 * R1,L2 * R2)
  print(max_product)

AUTOMORPHIC NUMBER

In [ ]:
n = int(input())
m = n*n
num = m%10
if num == n:
  print("Automorphic")
else:
  print("Not Automorphic")

6
Automorphic

ABUNDANT

In [ ]:
n = int(input())
sum = 0
for i in range(1,n):
  if n%i == 0:
    sum = sum + i
  if sum > n:
    print("Abundant")

12
Abundant
Abundant
Abundant
Abundant
Abundant
Abundant

HARSHAD NUMBER

In [ ]:
n = int(input())
sum = 0
n1 = n

while n > 0:
  rem = n%10
  sum += rem
  n = n//10

  if n1 % sum == 0:
    print("Harshad")
  else:
    print("Not Harshad")

2
Harshad

PERFECT NUMBER

In [ ]:
n = int(input())
sum = 0
for i in range (1, n):
  if n % i == 0:
    sum = sum+i
  if sum == n:
    print("Perfect Number")

28
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number
Perfect Number

FRIENDLY PAIR

In [ ]:
n1 = int(input())
n2 = int(input())
sum1 = 0
sum2 = 0
for i in range(1,n1):
  if n1%i == 0:
    sum1 = sum1 + i
for j in range(1,n2):
  if n2%i == 0:
    sum2 = sum2 + j
  if sum1//n1 == sum2//n2:
    print("Friendly Pair")

6
28

PERFECT SQUARE

In [ ]:
n = 25
for i in range(1, n):
  if i*i == n:
    print("Perfect square")

Perfect square

STRINGS IN VOWELS AND CONSONENTS

In [5]:
c = input()
if(c == 'a' or c == 'e' or c == 'i' or c == 'o' or c == 'u' or c == 'A' or c =='E' or c == 'I' or c == 'O' or c== 'U'):
  print("Vowel")
else:
  pass
  print("Consonant")

a
Vowel

In [12]:
a = input()
v = 0
c = 0
for i in a:
  if(i=='i'):
    v+=1
  else:
    pass
  c+=1
print("vowel",v)
print("consonant",c)

vinni
vowel 2
consonant 5

ALPHABET

In [24]:
ch = input()
if 'a' <= ch <= 'z'or 'A' <= ch <= 'Z':
  print("Alpha")
else:
  print("Not Alpha")

abc@
Alpha

ASKII VALUE

In [29]:
a  = input()
b = ord(a)
print(b)

7
55

LENGTH OF THE STRING

In [30]:
s = input()
l = 0
for i in s:
  l+=1
  print(l)

prasu
1
2
3
4
5

SORT AND SORTED

In [31]:
a = ["1,4,3"]
a.sort()
print(a)

['1,4,3']

In [32]:
a = ["1,4,3"]
b = sorted(a)
print(b)

['1,4,3']

SWAP CASE IN UPPER AND LOWER

In [33]:
str = input()
print(str.swapcase())

prasu
PRASU

In [36]:
str = input()
str1 = " "
for i in str:
  if i.isupper():
    i = i.lower()
    str1+=i
  else:
    i = i.upper()
    str1+=i
    print(str1)

prasu
 P
 PR
 PRA
 PRAS
 PRASU

In [40]:
str = input()
str = str[0].upper() + str[1:len(str)-1] + str[len(str)-1]
print(str)

prasanna
Prasanna

SPLIT METHOD

In [ ]:
str = input()
str.split()
print(str)

REVERSE METHOD

WITH USING SLICE METHOD

In [50]:
str = input()
str = str[::-1]
print(str)

prasu
usarp

WITHOUT USING SLICE METHOD

In [51]:
str = input()
str1 = " "
for i in range(len(str)-1,-1,-1):
  str1 +=str[i]
  print(str1)

prasu
 u
 us
 usa
 usar
 usarp