<a href="https://colab.research.google.com/github/21JN1A4551/Google-Colab/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ** LIST METHODS**

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)#List is a collection of elements and it look like an array and it takes different types of data type.

['apple', 'banana', 'cherry']

**ACCESS LIST ITEMS**

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])#In this list we can access 2:5 means it will prints from element 2 to element 4,here 7 elemets are in list ,it considers from 0 to 6 is the 7 elemets.

['cherry', 'orange', 'kiwi']

**Change Item Value**

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)#Here we access 1:3 that means here in place of 1 we access black current and in place of 3 we access watermelon.

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

****

**Append Items**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("grape")
print(thislist)#append means it will print as last element.

['apple', 'banana', 'cherry', 'grape']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)#insert means here in place of apple,orange will prints.

['apple', 'orange', 'banana', 'cherry']

**Remove Specified Item**

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)#remove means it will removes elements.

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

**Loop Lists**

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

**List Comprehension**

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

**Sort Lists**

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

**Copy Lists**

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

**Join Lists**

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# **STRINGS**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

**SLICING STRING**

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**MODIFY STRING**

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

**String Concatenation**

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

**Format - Strings**

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

**Escape Characters**

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

# TUPLES

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

** Access Tuple Items**

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

** Update Tuples**

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Unpack Tuples**

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Loop Tuples**

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Join Tuples**

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# SETS

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

**Access Set Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

**Add Set Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

**Remove Set Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

**Loop Sets**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

**Join Sets**

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

# DICTIONARIES

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

**Access Dictionary Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

**Change Values**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

**Add Dictionary Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Remove Dictionary Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

**Loop Dictionaries**

In [ ]:
for x in thisdict:
  print(x)

brand
year

**Copy Dictionaries**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Nested Dictionaries**

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

# BUILT-IN-FUNCTIONS

In [ ]:
#Return the absolute value of a complex number:
x = abs(3+5j)

In [ ]:
#Returns True if all items in an iterable object are true
mylist = [True, True, True]
x = all(mylist)

In [ ]:
#Returns True if any item in an iterable object is true
mylist = [False, True, False]
x = any(mylist)

In [ ]:
#Returns a readable version of an object. Replaces none-ascii characters with escape character
x = ascii("My name is Ståle")

In [ ]:
#Returns the binary version of a number
x = bin(36)

In [ ]:
#Returns the boolean value of the specified object
x = bool(1)

In [ ]:
#Returns an array of bytes
x = bytearray(4)

In [ ]:
#Returns a bytes object
x = bytes(4)

In [ ]:
#Returns True if the specified object is callable, otherwise False
def x():
  a = 5

print(callable(x))

True

In [ ]:
#Returns a character from the specified Unicode code.
x = chr(97)

In [ ]:
#Returns the specified source as an object, ready to be executed
x = compile('print(55)', 'test', 'eval')
exec(x)

55

In [ ]:
#Returns a complex number
x = complex(3, 5)

In [ ]:
#Deletes the specified attribute (property or method) from the specified object
class Person:
  name = "John"
  age = 36
  country = "Norway"

delattr(Person, 'age')

In [ ]:
#Returns a dictionary (Array)
x = dict(name = "John", age = 36, country = "Norway")

In [ ]:
#Returns a list of the specified object's properties and methods
class Person:
  name = "John"
  age = 36
  country = "Norway"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

In [ ]:
#Returns the quotient and the remainder when argument1 is divided by argument2
x = divmod(5, 2)

In [ ]:
#Takes a collection (e.g. a tuple) and returns it as an enumerate object
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

In [ ]:
#Evaluates and executes an expression
x = 'print(55)'
eval(x)

55

In [ ]:
#Executes the specified code (or object)
x = 'name = "John"\nprint(name)'
exec(x)

John

In [ ]:
#Use a filter function to exclude items in an iterable object
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
#Returns a floating point number
x = float(3)

In [ ]:
#Formats a specified value
x = format(0.5, '%')

In [ ]:
#Returns a frozenset object
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)

In [ ]:
#Returns the value of the specified attribute (property or method)
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = getattr(Person, 'age')

In [ ]:
#Returns the current global symbol table as a dictionary
x = globals()
print(x)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'x = abs(3+5j)', '#Return the absolute value of a complex number:\nx = abs(3+5j)', '#Returns True if all items in an iterable object are true\nmylist = [True, True, True]\nx = all(mylist)', '#Returns True if any item in an iterable object is true\nmylist = [False, True, False]\nx = any(mylist)', '#Returns a readable version of an object. Replaces none-ascii characters with escape character\nx = ascii("My name is Ståle")', '#Returns the binary version of a number\nx = bin(36)', '#Returns the boolean value of the specified object\nx = bool(1)', '#Returns an array of bytes\nx = bytearray(4)', '#Returns a bytes object\nx = bytes(4)', '#Returns True if the specified object is callable, otherwise False\ndef x():\n  a = 5\n\nprint(callable(x))', '#Returns a character from the specified Unicode code.\nx = chr(97)', "#Returns the specified source as an object, ready to be executed\nx = compile('print(55)', 'test', 'eval')\nexec(x)", '#Returns a complex number\nx = complex(3, 5)', '#Deletes the specified attribute (property or method) from the specified object\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', '#Returns a dictionary (Array)\nx = dict(name = "John", age = 36, country = "Norway")', '#Returns a list of the specified object\'s properties and methods\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', '#Returns the quotient and the remainder when argument1 is divided by argument2\nx = divmod(5, 2)', "#Takes a collection (e.g. a tuple) and returns it as an enumerate object\nx = ('apple', 'banana', 'cherry')\ny = enumerate(x)", "#Evaluates and executes an expression\nx = 'print(55)'\neval(x)", '#Executes the specified code (or object)\nx = \'name = "John"\\nprint(name)\'\nexec(x)', '#Use a filter function to exclude items in an iterable object\nages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', '#Returns a floating point number\nx = float(3)', "#Formats a specified value\nx = format(0.5, '%')", "#Returns a frozenset object\nmylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '#Returns the value of the specified attribute (property or method)\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', '#Returns the current global symbol table as a dictionary\nx = globals()\nprint(x)'], '_oh': {}, '_dh': ['/content'], 'In': ['', 'x = abs(3+5j)', '#Return the absolute value of a complex number:\nx = abs(3+5j)', '#Returns True if all items in an iterable object are true\nmylist = [True, True, True]\nx = all(mylist)', '#Returns True if any item in an iterable object is true\nmylist = [False, True, False]\nx = any(mylist)', '#Returns a readable version of an object. Replaces none-ascii characters with escape character\nx = ascii("My name is Ståle")', '#Returns the binary version of a number\nx = bin(36)', '#Returns the boolean value of the specified object\nx = bool(1)', '#Returns an array of bytes\nx = bytearray(4)', '#Returns a bytes object\nx = bytes(4)', '#Returns True if the specified object is callable, otherwise False\ndef x():\n  a = 5\n\nprint(callable(x))', '#Returns a character from the specified Unicode code.\nx = chr(97)', "#Returns the specified source as an object, ready to be executed\nx = compile('print(55)', 'test', 'eval')\nexec(x)", '#Returns a complex number\nx = complex(3, 5)', '#Deletes the specified attribute (property or method) from the specified object\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', '#Returns a dictionary (Array)\nx = dict(name = "John", age = 36, country = "Norway")', '#Returns a list of the specified object\'s properties and methods\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', '#Returns the quotient and the remainder when argument1 is divided by argument2\nx = divmod(5, 2)', "#Takes a collection (e.g. a tuple) and returns it as an enumerate object\nx = ('apple', 'banana', 'cherry')\ny = enumerate(x)", "#Evaluates and executes an expression\nx = 'print(55)'\neval(x)", '#Executes the specified code (or object)\nx = \'name = "John"\\nprint(name)\'\nexec(x)', '#Use a filter function to exclude items in an iterable object\nages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', '#Returns a floating point number\nx = float(3)', "#Formats a specified value\nx = format(0.5, '%')", "#Returns a frozenset object\nmylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '#Returns the value of the specified attribute (property or method)\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', '#Returns the current global symbol table as a dictionary\nx = globals()\nprint(x)'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x78577693e0e0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x78577693e680>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x78577693e680>, '_': '', '__': '', '___': '', '_i': '#Returns the value of the specified attribute (property or method)\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', '_ii': "#Returns a frozenset object\nmylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '_iii': "#Formats a specified value\nx = format(0.5, '%')", '_i1': 'x = abs(3+5j)', 'x': {...}, '_i2': '#Return the absolute value of a complex number:\nx = abs(3+5j)', '_i3': '#Returns True if all items in an iterable object are true\nmylist = [True, True, True]\nx = all(mylist)', 'mylist': ['apple', 'banana', 'cherry'], '_i4': '#Returns True if any item in an iterable object is true\nmylist = [False, True, False]\nx = any(mylist)', '_i5': '#Returns a readable version of an object. Replaces none-ascii characters with escape character\nx = ascii("My name is Ståle")', '_i6': '#Returns the binary version of a number\nx = bin(36)', '_i7': '#Returns the boolean value of the specified object\nx = bool(1)', '_i8': '#Returns an array of bytes\nx = bytearray(4)', '_i9': '#Returns a bytes object\nx = bytes(4)', '_i10': '#Returns True if the specified object is callable, otherwise False\ndef x():\n  a = 5\n\nprint(callable(x))', '_i11': '#Returns a character from the specified Unicode code.\nx = chr(97)', '_i12': "#Returns the specified source as an object, ready to be executed\nx = compile('print(55)', 'test', 'eval')\nexec(x)", '_i13': '#Returns a complex number\nx = complex(3, 5)', '_i14': '#Deletes the specified attribute (property or method) from the specified object\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\ndelattr(Person, \'age\')', 'Person': <class '__main__.Person'>, '_i15': '#Returns a dictionary (Array)\nx = dict(name = "John", age = 36, country = "Norway")', '_i16': '#Returns a list of the specified object\'s properties and methods\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nprint(dir(Person))', '_i17': '#Returns the quotient and the remainder when argument1 is divided by argument2\nx = divmod(5, 2)', '_i18': "#Takes a collection (e.g. a tuple) and returns it as an enumerate object\nx = ('apple', 'banana', 'cherry')\ny = enumerate(x)", 'y': <enumerate object at 0x785765633500>, '_i19': "#Evaluates and executes an expression\nx = 'print(55)'\neval(x)", '_i20': '#Executes the specified code (or object)\nx = \'name = "John"\\nprint(name)\'\nexec(x)', 'name': 'John', '_i21': '#Use a filter function to exclude items in an iterable object\nages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'ages': [5, 12, 17, 18, 24, 32], 'myFunc': <function myFunc at 0x7857655f4b80>, 'adults': <filter object at 0x7857655d7790>, '_i22': '#Returns a floating point number\nx = float(3)', '_i23': "#Formats a specified value\nx = format(0.5, '%')", '_i24': "#Returns a frozenset object\nmylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '_i25': '#Returns the value of the specified attribute (property or method)\nclass Person:\n  name = "John"\n  age = 36\n  country = "Norway"\n\nx = getattr(Person, \'age\')', '_i26': '#Returns the current global symbol table as a dictionary\nx = globals()\nprint(x)'}

In [ ]:
#Returns True if the specified object has the specified attribute (property/method)
class Person:
  name = "John"
  age = 36
  country = "Norway"

x = hasattr(Person, 'age')

In [ ]:
#Converts a number into a hexadecimal value
x = hex(255)

In [ ]:
#Allowing user input
print('Enter your name:')
x = input()
print('Hello, ' + x)

In [ ]:
#Returns an integer number
x = int(3.5)

In [ ]:
#Returns True if a specified object is an instance of a specified object
x = isinstance(5, int)

In [ ]:
#Returns True if a specified class is a subclass of a specified object
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj, myAge)

In [ ]:
#	Returns an iterator object
x = iter(["apple", "banana", "cherry"])
print(next(x))
print(next(x))
print(next(x))

In [ ]:
#	Returns the length of an object
mylist = ["apple", "banana", "cherry"]
x = len(mylist)

In [ ]:
#	Returns a list
x = list(('apple', 'banana', 'cherry'))

In [ ]:
#Returns an updated dictionary of the current local symbol table
x = locals()
print(x)

In [ ]:
#Returns the specified iterator with the specified function applied to each item
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

In [ ]:
#	Returns the largest item in an iterable
x = max(5, 10)

In [ ]:
#Returns a memory view object
x = memoryview(b"Hello")

print(x)

#return the Unicode of the first character
print(x[0])

#return the Unicode of the second character
print(x[1])

In [ ]:
#Returns the smallest item in an iterable
x = min(5, 10)

In [ ]:
#Returns the next item in an iterable
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)
x = next(mylist)
print(x)
x = next(mylist)
print(x)

In [ ]:
#Returns a new object
x = object()

In [ ]:
#Converts a number into an octal
x = oct(12)

In [ ]:
#Opens a file and returns a file object
f = open("demofile.txt", "r")
print(f.read())

In [ ]:
#Convert an integer representing the Unicode of the specified character
x = ord("h")

In [ ]:
#Returns the value of x to the power of y
x = pow(4, 3)

In [ ]:
#	Prints to the standard output device
 print("Hello World")

In [ ]:
#Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
x = range(6)
for n in x:
  print(n)

In [ ]:
#Returns a reversed iterator
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x)

In [ ]:
#Rounds a numbers
x = round(5.76543, 2)
print(x)

In [ ]:
#Returns a new set object
x = set(('apple', 'banana', 'cherry'))

In [ ]:
#Sets an attribute (property/method) of an object
class Person:
  name = "John"
  age = 36
  country = "Norway"

setattr(Person, 'age', 40)

In [ ]:
#Returns a slice object
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

In [ ]:
#	Returns a sorted list
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)

In [ ]:
#Returns a string object
x = str(3.5)

In [ ]:
#Sums the items of an iterator
a = (1, 2, 3, 4, 5)
x = sum(a)

In [ ]:
#Returns an object that represents the parent class
class Parent:
  def __init__(self, txt):
    self.message = txt

  def printmessage(self):
    print(self.message)

class Child(Parent):
  def __init__(self, txt):
    super().__init__(txt)

x = Child("Hello, and welcome!")

x.printmessage()

In [ ]:
#Returns a tuple
x = tuple(('apple', 'banana', 'cherry'))

In [ ]:
#Returns the type of an object
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)

In [ ]:
#Returns the __dict__ property of an object
class Person:
  name = "John"
  age = 36
  country = "norway"

x = vars(Person)

In [ ]:
#Returns an iterator, from two or more iterators
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

# STATISTIC MODEL

In [ ]:
#Calculates the harmonic mean (central location) of the given data
# Import statistics Library
import statistics

# Calculate harmonic mean
print(statistics.harmonic_mean([40, 60, 80]))
print(statistics.harmonic_mean([10, 30, 50, 70, 90]))

In [ ]:
#Calculates the mean (average) of the given data
# Import statistics Library
import statistics

# Calculate average values
print(statistics.mean([1, 3, 5, 7, 9, 11, 13]))
print(statistics.mean([1, 3, 5, 7, 9, 11]))
print(statistics.mean([-11, 5.5, -3.4, 7.1, -9, 22]))

In [ ]:
#Calculates the median (middle value) of the given data
# Import statistics Library
import statistics

# Calculate middle values
print(statistics.median([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median([1, 3, 5, 7, 9, 11]))
print(statistics.median([-11, 5.5, -3.4, 7.1, -9, 22]))

In [ ]:
#Calculates the median of grouped continuous data
# Import statistics Library
import statistics

# Calculate the median of grouped continuous data
print(statistics.median_grouped([1, 2, 3, 4]))
print(statistics.median_grouped([1, 2, 3, 4, 5]))
print(statistics.median_grouped([1, 2, 3, 4], 2))
print(statistics.median_grouped([1, 2, 3, 4], 3))
print(statistics.median_grouped([1, 2, 3, 4], 5))

In [ ]:
#Calculates the high median of the given data
# Import statistics Library
import statistics

# Calculate the high middle values
print(statistics.median_high([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median_high([1, 3, 5, 7, 9, 11]))
print(statistics.median_high([-11, 5.5, -3.4, 7.1, -9, 22]))

In [ ]:
#Calculates the low median of the given data
# Import statistics Library
import statistics

# Calculate the low middle values
print(statistics.median_low([1, 3, 5, 7, 9, 11, 13]))
print(statistics.median_low([1, 3, 5, 7, 9, 11]))
print(statistics.median_low([-11, 5.5, -3.4, 7.1,

In [ ]:
#Calculates the mode (central tendency) of the given numeric or nominal data
# Import statistics Library
import statistics

# Calculate the mode
print(statistics.mode([1, 3, 3, 3, 5, 7, 7 9, 11]))
print(statistics.mode([1, 1, 3, -5, 7, -9, 11]))
print(statistics.mode(['red', 'green', 'blue', 'red']))

In [ ]:
#Calculates the standard deviation from an entire population
# Import statistics Library
import statistics

# Calculate the standard deviation from an entire population
print(statistics.pstdev([1, 3, 5, 7, 9, 11]))
print(statistics.pstdev([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.pstdev([-11, 5.5, -3.4, 7.1]))
print(statistics.pstdev([1, 30, 50, 100]))

In [ ]:
#	Calculates the standard deviation from a sample of data
# Import statistics Library
import statistics

# Calculate the standard deviation from a sample of data
print(statistics.stdev([1, 3, 5, 7, 9, 11]))
print(statistics.stdev([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.stdev([-11, 5.5, -3.4, 7.1]))
print(statistics.stdev([1, 30, 50, 100]))

In [ ]:
#Calculates the variance of an entire population
# Import statistics Library
import statistics

# Calculate the variance of an entire population
print(statistics.pvariance([1, 3, 5, 7, 9, 11]))
print(statistics.pvariance([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.pvariance([-11, 5.5, -3.4, 7.1]))
print(statistics.pvariance([1, 30, 50, 100]))

In [ ]:
#Calculates the variance from a sample of data
# Import statistics Library
import statistics

# Calculate the variance from a sample of data
print(statistics.variance([1, 3, 5, 7, 9, 11]))
print(statistics.variance([2, 2.5, 1.25, 3.1, 1.75, 2.8]))
print(statistics.variance([-11, 5.5, -3.4, 7.1]))
print(statistics.variance([1, 30, 50, 100]))

# MATH MODULE

In [ ]:
#Returns the arc cosine of a number
# Import math Library
import math

# Return the arc cosine of numbers
print(math.acos(0.55))
print(math.acos(-0.55))
print(math.acos(0))
print(math.acos(1))
print(math.acos(-1))

In [ ]:
#Returns the inverse hyperbolic cosine of a number
# Import math Library
import math

# Return the inverse hyperbolic cosine of different numbers
print (math.acosh(7))
print (math.acosh(56))
print (math.acosh(2.45))
print (math.acosh(1))

In [ ]:
#Returns the arc sine of a number
# Import math Library
import math

# Return the arc sine of numbers
print(math.asin(0.55))
print(math.asin(-0.55))
print(math.asin(0))
print(math.asin(1))
print(math.asin(-1))

In [ ]:
#Returns the inverse hyperbolic sine of a number
# Import math Library
import math

# Return the inverse hyperbolic sine of numbers
print(math.asinh(7))
print(math.asinh(56))
print(math.asinh(2.45))
print(math.asinh(1))

In [ ]:
#	Returns the arc tangent of a number in radians
#Import math Library
import math

#fReturn the arc tangent of different numbers
print (math.atan(0.39))
print (math.atan(67))
print (math.atan(-21))

In [ ]:
#Returns the arc tangent of y/x in radians
# Import math Library
import math

# Return the arc tangent of y/x in radians
print(math.atan2(8, 5))
print(math.atan2(20, 10))
print(math.atan2(34, -7))

In [ ]:
#Returns the inverse hyperbolic tangent of a number
#Import math Library
import math

#print the hyperbolic arctangent of different numbers
print(math.atanh(0.59))
print(math.atanh(-0.12))

In [ ]:
#Rounds a number up to the nearest integer
# Import math library
import math

# Round a number upward to its nearest integer
print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))
print(math.ceil(22.6))
print(math.ceil(10.0))

In [ ]:
#Returns the number of ways to choose k items from n items without repetition and order
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of possibilities to choose
k = 5

# Print total number of possible combinations
print (math.comb(n, k))

In [ ]:
#Returns a float consisting of the value of the first parameter and the sign of the second parameter
#Import math Library
import math

#Return the value of the first parameter and the sign of the second parameter
print(math.copysign(4, -1))
print(math.copysign(-8, 97.21))
print(math.copysign(-43, -76))

In [ ]:
#	Returns the cosine of a number# Import math Library
import math

# Return the cosine of different numbers
print (math.cos(0.00))
print (math.cos(-1.23))
print (math.cos(10))
print (math.cos(3.14159265359))

In [ ]:
#Returns the hyperbolic cosine of a number
# Import math Library
import math

# Return the hyperbolic cosine of different numbers
print (math.cosh(1))
print (math.cosh(8.90))
print (math.cosh(0))
print (math.cosh(1.52))

In [ ]:
#Converts an angle from radians to degrees
# Import math Library
import math

# Convert from radians to degrees:
print (math.degrees(8.90))
print (math.degrees(-20))
print (math.degrees(1))
print (math.degrees(90))

In [ ]:
#Returns the Euclidean distance between two points (p and q), where p and q are the coordinates of that point
# Import math Library
import math

p = [3]
q = [1]

# Calculate Euclidean distance
print (math.dist(p, q))

p = [3, 3]
q = [6, 12]

# Calculate Euclidean distance
print (math.dist(p, q))

In [ ]:
#Returns the error function of a number
# Import math Library
import math

# Print error function for different numbers
print (math.erf(0.67))
print (math.erf(1.34))
print (math.erf(-6))

In [ ]:
#Returns the complementary error function of a number
# Import math Library
import math

# Print complementary error function for different numbers
print (math.erfc(0.67))
print (math.erfc(1.34))
print (math.erfc(-6))

In [ ]:
#Returns E raised to the power of x
#Import math Library
import math

#find the exponential of the specified value
print(math.exp(65))
print(math.exp(-6.89))

In [ ]:
#Returns Ex - 1
#Import math Library
import math

#Return the exponential value of a number - 1
print(math.expm1(32))
print(math.expm1(-10.89))

In [ ]:
#Returns the absolute value of a number
#Import math Library
import math

#Print absolute values from numbers
print(math.fabs(-66.43))
print(math.fabs(-7))

In [ ]:
#Returns the factorial of a number
#Import math Library
import math

#Return factorial of a number
print(math.factorial(9))
print(math.factorial(6))
print(math.factorial(12))

In [ ]:
#Rounds a number down to the nearest integer
# Import math library
import math

# Round numbers down to the nearest integer
print(math.floor(0.6))
print(math.floor(1.4))
print(math.floor(5.3))
print(math.floor(-5.3))
print(math.floor(22.6))
print(math.floor(10.0))

In [ ]:
#Returns the remainder of x/y
# Import math Library
import math

# Return the remainder of x/y
print(math.fmod(20, 4))
print(math.fmod(20, 3))
print(math.fmod(15, 6))
print(math.fmod(-10, 3))
print(math.fmod(0, 0))

In [ ]:
#Returns the mantissa and the exponent, of a specified number
#Import math Library
import math

#Return mantissa and exponent of numbers
print(math.frexp(4))
print(math.frexp(-4))
print(math.frexp(7))

In [ ]:
#Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)
# Import math Library
import math

# Print the sum of all items
print(math.fsum([1, 2, 3, 4, 5]))
print(math.fsum([100, 400, 340, 500]))
print(math.fsum([1.7, 0.3, 1.5, 4.5]))

In [ ]:
#Returns the gamma function at x
# Import math Library
import math

# Return the gamma function for different numbers
print(math.gamma(-0.1))
print(math.gamma(8))
print(math.gamma(1.2))
print(math.gamma(80))
print(math.gamma(-0.55))

In [ ]:
#Returns the greatest common divisor of two integers
#Import math Library
import math

#find the  the greatest common divisor of the two integers
print (math.gcd(3, 6))
print (math.gcd(6, 12))
print (math.gcd(12, 36))
print (math.gcd(-12, -36))
print (math.gcd(5, 12))
print (math.gcd(10, 0))
print (math.gcd(0, 34))
print (math.gcd(0, 0))

In [ ]:
#Returns the Euclidean norm
#Import math Library
import math

#set perpendicular and base
parendicular = 10
base = 5

#print the hypotenuse of a right-angled triangle
print(math.hypot(parendicular, base))

In [ ]:
#Checks whether two values are close to each other, or not
#Import math Library
import math

#compare the closeness of two values
print(math.isclose(1.233, 1.4566))
print(math.isclose(1.233, 1.233))
print(math.isclose(1.233, 1.24))
print(math.isclose(1.233, 1.233000001))

In [ ]:
#Checks whether a number is finite or not
# Import math Library
import math

# Check whether the values are finite or not
print(math.isfinite(2000))
print(math.isfinite(-45.34))
print(math.isfinite(+45.34))
print(math.isfinite(math.inf))
print(math.isfinite(float("nan")))
print(math.isfinite(float("inf")))
print(math.isfinite(float("-inf")))
print(math.isfinite(-math.inf))
print(math.isfinite(0.0))

In [ ]:
#Checks whether a number is infinite or not
# Import math Library
import math

# Check whether the values are infinite or not
print(math.isinf(56))
print(math.isinf(-45.34))
print(math.isinf(+45.34))
print(math.isinf(math.inf))
print(math.isinf(float("nan")))
print(math.isinf(float("inf")))
print(math.isinf(float("-inf")))
print(math.isinf(-math.inf))

In [ ]:
#Checks whether a value is NaN (not a number) or not
# Import math Library
import math

# Check whether some values are NaN or not
print (math.isnan (56))
print (math.isnan (-45.34))
print (math.isnan (+45.34))
print (math.isnan (math.inf))
print (math.isnan (float("nan")))
print (math.isnan (float("inf")))
print (math.isnan (float("-inf")))
print (math.isnan (math.nan))

In [ ]:
#	Rounds a square root number downwards to the nearest integer
# Import math Library
import math

# Print the square root of different numbers
print (math.sqrt(10))
print (math.sqrt (12))
print (math.sqrt (68))
print (math.sqrt (100))

# Round square root downward to the nearest integer
print (math.isqrt(10))
print (math.isqrt (12))
print (math.isqrt (68))
print (math.isqrt (100))

In [ ]:
#Returns the inverse of math.frexp() which is x * (2**i) of the given numbers x and i
#Import math Library
import math

#Return value of x * (2**i)
print(math.ldexp(9, 3))
print(math.ldexp(-5, 2))
print(math.ldexp(15, 2))

In [ ]:
#Returns the log gamma value of x
# Import math Library
import math

# Return the log gamma value of different numbers
print (math.lgamma(7))
print (math.lgamma(-4.2))

In [ ]:
#Returns the natural logarithm of a number, or the logarithm of number to base
# Import math Library
import math

# Return the natural logarithm of different numbers
print(math.log(2.7183))
print(math.log(2))
print(math.log(1))

In [ ]:
#Returns the base-10 logarithm of x
# Import math Library
import math

# Return the base-10 logarithm of different numbers
print(math.log10(2.7183))
print(math.log10(2))
print(math.log10(1))

In [ ]:
#Returns the natural logarithm of 1+x
# Import math Library
import math

# Return the log(1+number) for different numbers
print(math.log1p(2.7183))
print(math.log1p(2))
print(math.log1p(1))

In [ ]:
#Returns the base-2 logarithm of x
# Import math Library
import math

# Return the base-2 logarithm of different numbers
print(math.log2(2.7183))
print(math.log2(2))
print(math.log2(1))

In [ ]:
#Returns the number of ways to choose k items from n items with order and without repetition
# Import math Library
import math

# Initialize the number of items to choose from
n = 7

# Initialize the number of items to choose
k = 5

# Print the number of ways to choose k items from n items
print (math.perm(n, k))

In [ ]:
#Returns the value of x to the power of y
# Import math Library
import math

#Return the value of 9 raised to the power of 3
print(math.pow(9, 3))

In [ ]:
#Returns the product of all the elements in an iterable
# Import math Library
import math

sequence = (2, 2, 2)

#Return the product of the elements
print(math.prod(sequence))

In [ ]:
#Converts a degree value into radians
# Import math Library
import math

# Convert different degrees into radians
print(math.radians(180))
print(math.radians(100.03))
print(math.radians(-20))

In [ ]:
#Returns the closest value that can make numerator completely divisible by the denominator
# Import math Library
import math

# Return the remainder of x/y
print (math.remainder(9, 2))
print (math.remainder(9, 3))
print (math.remainder(18, 4))

In [ ]:
#Returns the sine of a number
# Import math Library
import math

# Return the sine of different values
print (math.sin(0.00))
print (math.sin(-1.23))
print (math.sin(10))
print (math.sin(math.pi))
print (math.sin(math.pi/2))

In [ ]:
#Returns the hyperbolic sine of a number# Import math Library
import math

# Return the hyperbolic sine of different values
print(math.sinh(0.00))
print(math.sinh(-23.45))
print(math.sinh(23))
print(math.sinh(1.00))
print(math.sinh(math.pi))

In [ ]:
#Returns the square root of a number
# Import math Library
import math

# Return the square root of different numbers
print (math.sqrt(9))
print (math.sqrt(25))
print (math.sqrt(16))

In [ ]:
#Returns the tangent of a number
# Import math Library
import math

# Return the tangent of different numbers
print (math.tan(90))
print (math.tan(-90))
print (math.tan(45))
print (math.tan(60))

In [ ]:
#Returns the hyperbolic tangent of a number
# Import math Library
import math

# Return the hyperbolic tangent of different numbers
print(math.tanh(8))
print(math.tanh(1))
print(math.tanh(-6.2))

In [ ]:
#Returns the truncated integer parts of a number
# Import math Library
import math

# Return the truncated integer parts of different numbers
print(math.trunc(2.77))
print(math.trunc(8.32))
print(math.trunc(-99.29))

# MATH CONSTANTS

In [ ]:
#Returns Euler's number (2.7182...)
# Import math Library
import math

# Print the value of E
print (math.e)

In [ ]:
#Returns a floating-point positive infinity
# Import math Library
import math

# Print the positive infinity
print (math.inf)

# Print the negative infinity
print (-math.inf)

In [ ]:
#Returns a floating-point NaN (Not a Number) value
# Import math Library
import math

# Print the value of nan
print (math.nan)

In [ ]:
#Returns PI (3.1415...)
# Import math Library
import math

# Print the value of pi
print (math.pi)

In [ ]:
#Returns tau (6.2831...)
# Import math Library
import math

# Print the value of tau
print (math.tau)